<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="app.js"></script>
	<link rel="stylesheet" href="styles/bootstrap.min.css">
    <!--
    If "" {
	"Please enter data first"
	}
	else if number of items in the textbox <=3  {
	"Enjoy!"} 
	else {
	"Too much!"
	} 
	split(https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/split))
	-->
	<style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder= "list comma separated dishes you usually have for lunch"
			 ng-model='inputData'
             class="form-control">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="makeOutput()" >Check If Too Much</button>
         </div>
         <div class="form-group message">
		 {{outputData}}
           <!-- Your message can go here. -->
         </div>
   </div>

</body>
</html>
